{{> head }}
{{> navbar }}
    <div class="row">
        <div class="col-md-8">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolor optio voluptates soluta repudiandae assumenda modi alias cum quod consectetur aspernatur nemo nihil fugit quae ex vero nobis, unde doloribus?</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/peretch.jpeg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
{{> scripts }}